@model IList<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h1>Movies</h1>

@if (Model == null || Model.Count == 0)
{
    <text>We don't have any movies yet.</text>
}
else
{
    <table class="table	table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col">Movie</th>
                <th scope="col" class="col">Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="table-light row">
                    <td scope="col" class="col">@Html.ActionLink(movie.Name, "Details", new { Id = movie.Id })</td>
                    <td scope="col" class="col">@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}