@model IList<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h1>Movies</h1>

<br /><br />

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
        <script>
            $(document).ready(function () {
                var table = RenderTable();
            });

            function RenderTable() {
                return $("#movies").DataTable({
                    ajax: {
                        url: "/api/movies",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data: "genre.name"
                        }
                    ]
                });
            }
        </script>
}