@model IList<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

@if (Model == null || Model.Count == 0)
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table class="table	table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr class="table-light">
                <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id })</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
            }
        </tbody>
    </table>
}

